.nav {
    margin-left: 3;
    height: 100vh;padding-bottom: 10;
    width: 300px;
}
.items-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-to {
    align-items: center;
    gap: 3px;
    color: #000;
    margin-left: 3px;
    margin-top: 4px;
    display: flex;
    font-size: larger;
    font-weight: 900;
    text-decoration: none;
}
.cancel-btn {
    border: none;
    background-color: inherit;
}
.cancel-btn:hover {
    background: lightgray;
    margin-top: 4px;
    display: block;
    font-size: larger;
    border-radius: 100%;
}
.menu-items {
    margin-top: 10px;
}
.link-item {
    color: gray;
    margin: 3;
    margin-top: 4;
    text-transform: uppercase;
}
.activeLink {
    display: flex;
    align-items: center;
    gap: 5;
    padding-left: 4px;
    padding-right: 3px;
    padding-bottom: 2.5px;
    border-radius: 24px;
    color: white;
    text-decoration: none;
}
.normalLink {
    display: flex;
    align-items: center;
    gap: 5;
    padding-left: 4px;
    padding-right: 3px;
    padding-bottom: 2.5px;
    border-radius: 24px;
    color:gray;
    text-decoration: none;
}
.normalLink:hover {
    color: black;
    background-color: lightgray;
    margin: 2px;
}
.item-name {
    text-transform: uppercase;
    text-decoration: none;
}
