.nav {
    margin-left: 20px;
    height: calc(100vh - 50px);
    padding-bottom: 10px;
    width: 300px;
    overflow-y: scroll;
}
.items-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-to {
    align-items: center;
    gap: 3px;
    color: #000;
    margin-left: 3px;
    margin-top: 4px;
    display: flex;
    font-size: larger;
    font-weight: 900;
    text-decoration: none;
}
.cancel-btn {
    border: none;
    background-color: inherit;
}
.cancel-btn:hover {
    background: lightgray;
    margin-top: 4px;
    display: block;
    font-size: larger;
    border-radius: 100%;
}
.menu-items {
    margin-top: 30px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179)
}

.link-item {
    color: gray;
    margin: 3;
    margin-top: 4;
    text-transform: uppercase;
}
.activeLink {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    padding-left: 4px;
    padding-right: 3px;
    border-radius: 5px;
    color: gray;
    text-decoration: none;
    margin-bottom: 14px;
}
.activeLink:hover {
    color: black;
    background-color: rgb(243, 243, 243);
    margin: 2px;
}
.normalLink {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 4px;
    padding-right: 3px;
    padding-bottom: 2.5px;
    border-radius: 24px;
    color:gray;
    text-decoration: none;
}
.normalLink:hover {
    color: black;
    background-color: lightgray;
    margin: 2px;
}
.item-name {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.25rem;
    padding-left: 10px;
}
